In [2]:
import pandas as pd
import yaml
import os

In [3]:
# Load run
root_dir = "/home/lorenzo/Desktop/mutant"
path_to_log = os.path.join(root_dir, "log/mab/run/run.2024.02.19.12.27.01.csv")
df = pd.read_csv(path_to_log)

In [4]:
df.columns

Index(['epoch', 'step', 'cwnd', 'srtt', 'rtt_dev', 'lost', 'in_flight',
       'delivery_rate', 'prev_proto_id', 'thruput', 'loss_rate', 'srtt_s_avg',
       'srtt_s_min', 'srtt_s_max', 'srtt_m_avg', 'srtt_m_min', 'srtt_m_max',
       'srtt_l_avg', 'srtt_l_min', 'srtt_l_max', 'rtt_dev_s_avg',
       'rtt_dev_s_min', 'rtt_dev_s_max', 'rtt_dev_m_avg', 'rtt_dev_m_min',
       'rtt_dev_m_max', 'rtt_dev_l_avg', 'rtt_dev_l_min', 'rtt_dev_l_max',
       'lost_s_avg', 'lost_s_min', 'lost_s_max', 'lost_m_avg', 'lost_m_min',
       'lost_m_max', 'lost_l_avg', 'lost_l_min', 'lost_l_max',
       'in_flight_s_avg', 'in_flight_s_min', 'in_flight_s_max',
       'in_flight_m_avg', 'in_flight_m_min', 'in_flight_m_max',
       'in_flight_l_avg', 'in_flight_l_min', 'in_flight_l_max',
       'thruput_s_avg', 'thruput_s_min', 'thruput_s_max', 'thruput_m_avg',
       'thruput_m_min', 'thruput_m_max', 'thruput_l_avg', 'thruput_l_min',
       'thruput_l_max', 'reward'],
      dtype='object')

In [5]:
df['current_proto_id'] = df['prev_proto_id'].shift(-1)

In [6]:
# Convert the following keys into integer values time series
for key in ['prev_proto_id', 'current_proto_id', 'lost', 'in_flight']:
    # Remove the nan samples
    df = df[df[key].notna()]
    df[key] = df[key].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25110 entries, 0 to 25109
Data columns (total 58 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   epoch             25110 non-null  int64
 1   step              25110 non-null  int64
 2   cwnd              25110 non-null  float64
 3   srtt              25110 non-null  float64
 4   rtt_dev           25110 non-null  float64
 5   lost              25110 non-null  int64
 6   in_flight         25110 non-null  int64
 7   delivery_rate     25110 non-null  float64
 8   prev_proto_id     25110 non-null  int64
 9   thruput           25110 non-null  float64
 10  loss_rate         25110 non-null  float64
 11  srtt_s_avg        25110 non-null  float64
 12  srtt_s_min        0 non-null      float64
 13  srtt_s_max        0 non-null      float64
 14  srtt_m_avg        0 non-null      float64
 15  srtt_m_min        0 non-null      float64
 16  srtt_m_max        0 non-null      float64
 17  srtt_l_avg        0 non-null      float64
 18  srtt_l_min        0 non-null      float64
 19  srtt_l_max        0 non-null      float64
 20  rtt_dev_s_avg     0 non-null      float64
 21  rtt_dev_s_min     0 non-null      float64
 22  rtt_dev_s_max     0 non-null      float64
 23  rtt_dev_m_avg     0 non-null      float64
 24  rtt_dev_m_min     0 non-null      float64
 25  rtt_dev_m_max     0 non-null      float64
 26  rtt_dev_l_avg     0 non-null      float64
 27  rtt_dev_l_min     0 non-null      float64
 28  rtt_dev_l_max     0 non-null      float64
 29  lost_s_avg        0 non-null      float64
 30  lost_s_min        0 non-null      float64
 31  lost_s_max        0 non-null      float64
 32  lost_m_avg        0 non-null      float64
 33  lost_m_min        0 non-null      float64
 34  lost_m_max        0 non-null      float64
 35  lost_l_avg        0 non-null      float64
 36  lost_l_min        0 non-null      float64
 37  lost_l_max        0 non-null      float64
 38  in_flight_s_avg   0 non-null      float64
 39  in_flight_s_min   0 non-null      float64
 40  in_flight_s_max   0 non-null      float64
 41  in_flight_m_avg   0 non-null      float64
 42  in_flight_m_min   0 non-null      float64
 43  in_flight_m_max   0 non-null      float64
 44  in_flight_l_avg   0 non-null      float64
 45  in_flight_l_min   0 non-null      float64
 46  in_flight_l_max   0 non-null      float64
 47  thruput_s_avg     0 non-null      float64
 48  thruput_s_min     0 non-null      float64
 49  thruput_s_max     0 non-null      float64
 50  thruput_m_avg     0 non-null      float64
 51  thruput_m_min     0 non-null      float64
 52  thruput_m_max     0 non-null      float64
 53  thruput_l_avg     0 non-null      float64
 54  thruput_l_min     0 non-null      float64
 55  thruput_l_max     0 non-null      float64
 56  reward            0 non-null      float64
 57  current_proto_id  25110 non-null  int64
dtypes: float64(52), int64(6)
memory usage: 11.3 MB

In [7]:
df['current_proto_id'].value_counts()

13    13220
2     11828
12       60
7         2
Name: current_proto_id, dtype: int64

In [10]:
df

,epoch,step,srtt,rtt_dev,lost,in_flight,delivery_rate,prev_proto_id,thruput,loss_rate,...,thruput_s_min,thruput_s_max,thruput_m_avg,thruput_m_min,thruput_m_max,thruput_l_avg,thruput_l_min,thruput_l_max,reward,current_proto_id
0,0,0,187552.000000,46888.000000,0,0,0.0,2,0.000000,0.0,...,0.0,0.0,0.00000,187552.0,46888.0,0.0,0.0,0.00000,0.000000,2
1,0,0,187336.000000,35382.000000,0,0,0.0,2,0.000000,0.0,...,0.0,0.0,0.00000,187552.0,46888.0,0.0,0.0,0.00000,0.000000,2
2,0,0,189812.000000,37231.000000,0,0,0.0,2,0.000000,0.0,...,0.0,0.0,0.00000,189812.0,46888.0,0.0,0.0,0.00000,0.000000,2
3,0,0,192775.000000,31976.000000,0,0,1.0,2,0.498708,0.0,...,0.0,0.0,0.49871,192775.0,46888.0,0.0,0.0,0.49871,1.290155,2
4,0,0,192750.000000,24007.000000,0,0,1.0,2,0.498708,0.0,...,0.0,0.0,0.49871,192775.0,46888.0,0.0,0.0,0.49871,1.290323,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192402,10,99,210559.333333,14120.333333,0,8,10.0,5,4.729891,0.0,...,0.0,9.0,5.05432,2612508.0,959012.0,0.0,60.0,31.88634,106.249714,5
192403,10,99,204360.000000,11816.000000,0,8,10.0,5,4.638568,0.0,...,0.0,9.0,5.05432,2612508.0,959012.0,0.0,60.0,31.88634,105.286346,5
192404,10,99,196935.000000,9360.600000,0,8,10.0,5,4.825454,0.0,...,0.0,9.0,5.05432,2612508.0,959012.0,0.0,60.0,31.88634,118.237004,5
192405,10,99,195427.200000,6044.800000,0,8,10.0,5,4.664947,0.0,...,0.0,9.0,5.05432,2612508.0,959012.0,0.0,60.0,31.88634,111.354675,5
192406,10,99,192776.000000,4441.000000,0,8,10.0,5,4.855801,0.0,...,0.0,9.0,5.05432,2612508.0,959012.0,0.0,60.0,31.88634,122.311923,5